// ELEMENTS
html {
    font-size: 16px;
}

h1 {
    font: 2.5rem $titleFonts;
}

h2 {
    font: bold 1.1rem $primaryFonts;
}

h3 {
    @extend h2;
    font-weight: normal;
}

p {
    font: 1rem $primaryFonts;
}

header,
section {
    background: #FFFFFF;
}