// GREATER THAN 320px
@media screen 
    and (min-width: 400px) {

        .introduction {
            width: 80vw;
            background-color: $primaryColor;
            position: relative;
            margin-top: $topIntroductionPosition;
        }

        .works {
            @include section_lines();
            margin: 30px 0 0 0;
        }

        .searchingWork {
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
        }

}

// GREATER THAN 768px
@media screen 
    and (min-width: 768px) {

        html {
            font-size: 18px;
        }
    
        .introduction, {
            width: 70vw;
        }

        .works__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        .work {
            width: 40%;
        }

        .searchingWork {
            width: 70vw;
        }
 
}

// GREATHER THAN 1280px
@media screen
    and (min-width: 1280px) {

        main {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
        }

        header,
        footer {
            width: 100vw;
        }

        section.works {
            width: 67vw;
        }

        section.searchingWork {
            width: 33vw;
            margin-bottom: 0px;

            p {
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                line-height: 1.5rem;
            }
        }


}
