$widthGreater400 : 75vw; 
$widthGreater768 : 65vw; 
$widthGreater1280 : 60vw; 
$widthGreater1800 : 1200px;

// GREATER THAN 400px
@media screen 
    and (min-width: 400px) {

        .introduction {
            margin-top: 15vw;
            background-color: $primaryColor;
            position: relative;
        }

        .introduction,
        .searchingWork,
        header,
        main,
        footer{
            width: $widthGreater400;
        }

        .works {
            @include section_lines();
            margin-top: 30px;
            margin-bottom: 0;
        }

        .searchingWork {
            margin-left: auto;
            margin-right: auto;
            padding: 20px;
        }

}

// GREATER THAN 768px
@media screen 
    and (min-width: 768px) {

        html {
            font-size: 18px;
        }

        .introduction,
        .searchingWork,
        header,
        main,
        footer{
            width: $widthGreater768;
        }

        .works__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        .work {
            width: 40%;
        }
 
}

// GREATHER THAN 1280px
@media screen
    and (min-width: 1280px) {

        main {
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
        }

        .introduction {
            margin-top: 10vw;
        }

        .introduction,
        .searchingWork,
        header,
        main,
        footer{
            width: $widthGreater1280;
        }

        section.works {
            width: 67vw;
        }

        section.searchingWork {
            margin-bottom: 0px;

            p {
                position: relative;
                top: 50%;
                // transform: translateY(-50%);
                line-height: 1.5rem;
            }
        }
}

// GREATHER THAN 1800
@media screen
    and (min-width: 1800px) {

        .introduction,
        .searchingWork,
        header,
        main,
        footer{
            width: $widthGreater1800;
        }

        .bkg img{
            min-height: 100vh;
            object-fit: cover;
            object-position: right;
        }

}
