// VARIABLES
$primaryColor: #FFAA00;
$primaryFonts: 'Asap', 'Helvetica', 'sans-serif';
$titleFonts: 'Oleo Script', 'serif';
$maxWeightBackground: 35vh;
$topIntroductionPosition: 25vh;

@import '_reset';
@import '_elements';

// TILES
// .tile {
//     padding: 15px 5px;
//     text-align: center;
// }

// FORMATING SECTIONS
// There are two formats of the section: one with lines and one with a background color.
@mixin section_colored {
    background-color: $primaryColor;
}

@mixin section_lines {
    border-top: 1px solid $primaryColor;
    border-bottom: 1px solid $primaryColor;
}

// INTRODUCTION SECTION
.introduction{
    // @include section_lines();
    position: relative;
    margin-top: $topIntroductionPosition;
    padding: 25px 0;
    text-align: center;
    background-color: #FFFFFF;

    h1{
        padding: 5px 0 15px 0;
    }
    
    h2 {
        padding: 10px 0;        
    }

    .img_social {
        width: 25px;
    }

    .myProfile {
        @include section_lines();
        padding: 0 5px;
    }
    
    .social {
        padding: 20px 0 10px 0;
    }
    
    .social a {
        padding: 0 12px; // Recomended size of icons is 48px, so put 12px of padding to get it.
    }
}

.background{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: $maxWeightBackground;
    background-image: url('http://placekitten.com/320/200');
    background-repeat: no-repeat;
    background-size: cover;
}


// WORKS SECTION
.works{

    text-align: center;
    padding: 30px 0 0 0;

    .works__container{

        .work{
    
            padding: 15px 5px;

            &__title{
                @extend h3;
                font: 1.2rem $titleFonts;
    
            }
    
            &__description{
                @extend p;
            }
        }
    }

}

// SEARCHING WORK SECTION
.searchingWork{
    @include section_colored();
    margin: 30px 0;
    padding: 20px 5px;
    p {
        
        font-weight: 600;
        text-align: center;
    }
}

// FOOTER
footer {
    @include section_lines();
    text-align: center;
    margin: 20px 0;
    padding: 10px 0;

    .footer__name {
        font: bold 1rem $titleFonts;
    }

    .footer__contact {
        vertical-align: middle;
        font: 0.8rem $primaryFonts;

        a img {
            vertical-align: middle;
            width: 18px;
        }

    }

}

// RESPONSIVE
@import '_responsive';



